body {
    background-color: #293241;
    font-family: 'Raleway', sans-serif;
    color:#E0FBFC;
}
#maincontent {
    margin: auto;
    width: 1000px;
}
#header {
    text-align: center;
}
h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 70pt;
}
hr {
    padding: 0px;
    margin: 0px;
}
.ayo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ayo p {
    text-align: justify;
}
nav {
    background-color: #3D5A80;
}
.navbar-nav li {
    font-size: 15pt;
    padding: 0px 25px 0px 25px;
}
#navibar {
    height: 70px;
    border-radius: 0px 0px 5px 5px;
}
#uwu{
    color:#E0FBFC;
    font-size: 60px;
    text-align: center;
    margin: auto;
    width: 850px;
}
.uwu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    font-size:20px;
}