body {
    background-color: #293241;
    font-family: 'Raleway', sans-serif;
}
#maincontent {
    margin: auto;
    width: 1000px;
}
.header h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 45pt;
    color: #E0FBFC;
    text-align: center;
}
.header p {
    color: #E0FBFC;
    font-size: 15px;
    font-style: italic;
    margin: 0;
    padding: 0;
}
.card-header a {
    font-family: 'Thasadith', sans-serif;
    font-size: 25pt;
    font-weight: bold;
    color: #3D5A80;
}
.para-desc {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}
.paraspan {
    font-weight: bold;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#parareference {
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}
.paracheatsheet {
    margin-bottom: 2.5px;
    text-indent: 20px;
}
.cheatsheetitems {
    color: #EE6C4D;
    font-size: 13.5pt;
    font-weight: bold;
}
#paraluck {
    text-indent: 40px;
}
#pureluck {
    font-family: 'Syncopate', sans-serif;
    color: #EE6C4D;
}
nav {
    background-color: #3D5A80;
}
.navbar-nav li {
    font-size: 15pt;
    padding: 0px 25px 0px 25px;
}
#navibar {
    height: 70px;
    border-radius: 0px 0px 5px 5px;
}
#accordion {
    width: 950px;
    margin: auto;
}